*{
    margin-top: 0;
    padding: 0;
    font-family: "Poppins",sans-serif;
    
    box-sizing: border-box;
}

body{
   width: 100%;
   min-height: 100vh;
   background: linear-gradient(135deg,rgb(0, 0, 0),rgb(212, 57, 57));
   
}

.to-do-app{
    width: 100%;
    max-width: 550px;
    background: white;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 15px;

    
}

.to-do-app h2{
    color: grey;
}

button{
   
    border:none;
    outline: none;
    background-color:rgb(191, 68, 68) ;
    color:rgb(8, 7, 7);
    font-weight: 700;
    cursor:pointer;
    border-radius: 40px;
    width:15%;
    height: 27px;;
    

}
button:hover{
    background: rgb(211, 147, 147);
}

ul{
    padding: 0;
}

ul li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    font-size: 17px;
    padding: 12px;
    user-select: none;
    cursor: pointer;
    position: relative;
    
}



.list-container{
    display:flex;
    flex-direction: row;
    margin-top: 12px;
   
    
}
.status-container li{
    align-items: flex-end;
    flex-shrink: 2;
    background-color: yellow;
    

}
ul li.checked{
    text-decoration: line-through;
}

#list-container{
    display: flex;
    flex-direction: column;
    
}

ul li .del-btn{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    width:40px;
    height: 40px;
    font-size: 22px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    right: 500px;

}

